*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:rgba(15,23,42,.95);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 10%;
}

.hero-text{
    max-width:600px;
}

.hero h1{
    font-size:55px;
}

.hero span{
    color:#38bdf8;
}

.hero h2{
    margin:20px 0;
    color:#94a3b8;
}

.hero p{
    line-height:1.8;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:14px 35px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:40px;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.05);
}

.hero-image img{
    width:350px;
    height:350px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #38bdf8;
}

section{
    padding:100px 10%;
}

section h1{
    font-size:40px;
    margin-bottom:30px;
    color:#38bdf8;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:15px;
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
    background:#334155;
}
section {
    opacity:0;
    transform:translateY(60px);
    transition:1s;
}


.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10%;
    flex-wrap:wrap;
}

.hero-text{
    max-width:600px;
}

.hero-text h1{
    font-size:55px;
    color:#00e5ff;
}

.hero-text h2{
    color:white;
    margin:15px 0;
}

.hero-text p{
    color:#bdbdbd;
    line-height:1.8;
}

.hero-image img{
    width:320px;
    height:320px;
    border-radius:50%;
    border:5px solid #00e5ff;
    object-fit:cover;
    box-shadow:0 0 30px #00e5ff;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#00e5ff;
    color:black;
    text-decoration:none;
    border-radius:30px;
    margin-right:15px;
    font-weight:bold;
}

.btn2{
    background:transparent;
    border:2px solid #00e5ff;
    color:white;
}
#home {
    opacity:1;
    transform:translateY(0);
}
#typing {
    color:#00e5ff;
    font-weight:bold;
}
#skills{
    width:80%;
    margin:100px auto;
}

.section-title{
    text-align:center;
    color:#00e5ff;
    font-size:45px;
    margin-bottom:50px;
}

.skill{
    margin-bottom:25px;
}

.skill h3{
    display:flex;
    justify-content:space-between;
    color:white;
    margin-bottom:8px;
}

.bar{
    width:100%;
    height:14px;
    background:#2f2f2f;
    border-radius:20px;
    overflow:hidden;
}

.fill{
    height:100%;
    background:#00e5ff;
    border-radius:20px;
}

.java{width:90%;}
.python{width:85%;}
.html{width:95%;}
.css{width:90%;}
.js{width:75%;}
.php{width:80%;}
.sql{width:85%;}
.cyber{width:85%;}
.fill{
    animation:load 2s ease-in-out;
}

@keyframes load{
    from{
        width:0;
    }
}

.project-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:30px;
margin-top:50px;
}

.project-card{
background:#1d1d1d;
padding:30px;
border-radius:18px;
transition:.4s;
border:2px solid transparent;
}

.project-card:hover{
transform:translateY(-12px);
border-color:#00e5ff;
box-shadow:0 0 25px rgba(0,229,255,.5);
}

.project-card h2{
color:#00e5ff;
margin-bottom:15px;
}

.project-card p{
line-height:1.8;
color:#d8d8d8;
}

.tech{
margin-top:20px;
}

.tech span{
display:inline-block;
padding:8px 15px;
margin:5px;
background:#00e5ff;
color:#000;
border-radius:25px;
font-size:14px;
font-weight:bold;
}

.buttons{
margin-top:25px;
}

.buttons a{
display:inline-block;
padding:10px 20px;
margin-right:10px;
background:#00e5ff;
color:#000;
text-decoration:none;
border-radius:25px;
font-weight:bold;
transition:.3s;
}

.buttons a:hover{
background:white;
}
#education{

padding:100px 10%;

}

.timeline{

position:relative;

margin-top:50px;

border-left:4px solid #00e5ff;

padding-left:40px;

}

.timeline-item{

position:relative;

margin-bottom:50px;

}

.circle{

position:absolute;

left:-52px;

top:5px;

width:20px;

height:20px;

background:#00e5ff;

border-radius:50%;

box-shadow:0 0 20px #00e5ff;

}

.timeline-content{

background:#1e1e1e;

padding:25px;

border-radius:15px;

transition:.4s;

}

.timeline-content:hover{

transform:translateX(10px);

box-shadow:0 0 25px rgba(0,229,255,.4);

}

.timeline-content h2{

color:#00e5ff;

margin-bottom:10px;

}

.timeline-content h3{

color:white;

margin-bottom:10px;

}

.timeline-content span{

color:#00e5ff;

font-weight:bold;

}

.timeline-content p{

color:#d5d5d5;

line-height:1.8;

}
#certificates{
    padding:100px 10%;
}

.certificate-container{
    display:flex;
    justify-content:center;
}

.certificate-card{
    width:450px;
    background:#1d1d1d;
    padding:30px;
    border-radius:18px;
    border:2px solid transparent;
    transition:.4s;
}

.certificate-card:hover{
    border-color:#00e5ff;
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(0,229,255,.5);
}

.certificate-card h2{
    color:#00e5ff;
    margin-bottom:15px;
}

.certificate-card h3{
    color:white;
    margin-bottom:10px;
}

.certificate-card p{
    color:#d8d8d8;
    line-height:1.8;
}

.certificate-card span{
    color:#00e5ff;
    font-weight:bold;
}
#experience{
padding:100px 10%;
}

.experience-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
gap:30px;
margin-top:50px;
}

.experience-card{
background:#1d1d1d;
padding:30px;
border-radius:20px;
border-left:6px solid #00e5ff;
transition:.4s;
}

.experience-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px rgba(0,229,255,.5);
}

.experience-card h2{
color:#00e5ff;
margin-bottom:15px;
}

.experience-card span{
color:#00e5ff;
font-weight:bold;
}

.experience-card p{
margin-top:15px;
line-height:1.8;
color:#d8d8d8;
}
#resume{
    padding:100px 10%;
    text-align:center;
}

.resume-card{
    max-width:600px;
    margin:auto;
    background:#1d1d1d;
    padding:40px;
    border-radius:20px;
    border:2px solid transparent;
    transition:.4s;
}

.resume-card:hover{
    border-color:#00e5ff;
    box-shadow:0 0 25px rgba(0,229,255,.5);
}

.resume-card h2{
    color:#00e5ff;
    margin-bottom:20px;
}

.resume-card p{
    color:#d8d8d8;
    line-height:1.8;
}

.resume-btn{
    display:inline-block;
    margin-top:25px;
    padding:15px 35px;
    background:#00e5ff;
    color:#000;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

.resume-btn:hover{
    background:white;
}
